<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ResiIdentity-20160215093453.mdf;Initial Catalog=aspnet-ResiIdentity-20160215093453;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- OpenAM additions -->
    <add key="AuthorizationEndPoint" value="https://qa-lab-oam01.openam.com:8080/openam/oauth2/authorize" />
    <add key="TokenEndpoint" value="https://qa-lab-oam01.sandata.com:8443/openam/oauth2/access_token?realm=/" />
    <add key="UserInfoEndpoint" value="https://qa-lab-oam01.sandata.com:8443/openam/oauth2/tokeninfo?realm=/" />
    <add key="Realm" value="George" />
    <add key="AgentID" value="weboagent@sandata.com" />
    <add key="AgentKey" value="agentpwd" />
    <!-- Additions for password change -->
    <add key="Idmu" value="IDM-manager" />
    <add key="Idmp" value="InternalAdmin1" />
    <add key="IdmUri" value="qa-lab-odj01.opendj.com" />
    <add key="IdmPort" value="8085" />
    <add key="IdmScheme" value="https" />
    <!-- Redis connection string-->
    <add key="SanRdConn" value="sess01.redis.com:6379, sess02.redis.com:6379, , sess03.redis.com:6379 password=sessionlab, abortConnect=false" />
    <!-- Redis configuration section for asp.net identity -->
    <add key="aspNet:identity:redis:db" value="6" />
    <add key="aspNet:identity:redis:userIdKey" value="stackredis:identity:user:id" />
    <add key="aspNet:identity:redis:userHashByIdKey" value="stackredis:identity:users:byid" />
    <add key="aspNet:identity:redis:userHashByNameKey" value="stackredis:identity:users:byname" />
    <add key="aspNet:identity:redis:userLoginHashKey" value="stackredis:identity:users:logins" />
    <add key="aspNet:identity:redis:userLoginFailCountHashKey" value="stackredis:identity:logins:fails" />
    <add key="aspNet:identity:redis:userLockSetKey" value="stackredis:identity:users:logins:locks" />
    <add key="aspNet:identity:redis:userLockDateHashKey" value="stackredis:identity:users:logins:locks:dates" />
    <add key="aspNet:identity:redis:userConfirmedEmailSetKey" value="stackredis:identity:users:confirmedmails" />
    <add key="aspNet:identity:redis:userConfirmedPhoneNumberSetKey" value="stackredis:identity:users:confirmedphonenumbers" />
    <add key="aspNet:identity:redis:userRoleSetKey" value="stackredis:identity:users:{0}:roles" />
    <add key="aspNet:identity:redis:userLoginSetKey" value="stackredis:identity:users:{0}:logins" />
    <add key="aspNet:identity:redis:userClaimSetKey" value="stackredis:identity:users:{0}:claims" />
    <add key="aspNet:identity:redis:twoFactorEnabledSetKey" value="stackredis:identity:users:twofactorauthenabled" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>